<!DOCTYPE html>
<head>
<meta charset=UTF-8>
<title>Travel Buddy</title>
{% load static %}
<link rel="stylesheet" href="{% static 'travelbuddy/style.css' %}">
</head>
<body>
<container>

<div>
    <h3>Add a Trip</h3>
    <p>
        <a href="/travels/">Home</a><br>
        <a href="/travels/users/">Users</a><br>
        <a href=/logout/>Logout</a>
    </p>

    {% for message in messages %}
    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    {% endfor %}

</div>

<div>
    <fieldset>
    <form action=/travels/add/post/ method=post>
        {% csrf_token %}
        {{ addtrip.as_p }}
        <p><input type="submit" value="Add"></p>
    </form>
    </fieldset>
</div>

</container>
</body>
</html>